<%= render 'admin/mailinglists/tabs' %>
 
<h2 class="title">
  메일링리스트 가입자
</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="first">#</th>
      <th>E-Mail</th>
      <th>가입일</th>
      <th class="last">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  <% @mailinglists.each_with_index do |mailinglist, index| %>
    <tr>
      <td><%= mailinglist.id %></td>
      <td><%= mailinglist.email %></td>
      <td><%= mailinglist.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to '탈퇴', admin_mailinglist_path(mailinglist), :method => :delete, :confirm => '정말 탈퇴시키시겠습니까?' %></td>
    </tr>
  <% end %>
</tbody></table>
<%= will_paginate @mailinglists %>
