<div id="list" class="block">
  <%= render 'admin/events/tabs' %>
  <div class="content">
    <h2 class="title">
      새 이벤트 생성
    </h2>
    <div class="inner">
      <%= form_tag admin_events_path, :multipart => true, :class => 'form' do %>
        <div class="group">
          <%= label_tag 'event[title]', '제목' %>
          <%= text_field_tag 'event[title]',  '', :class => 'text_field' %>
        </div>
        <div class="group">
          <%= label_tag 'event[bigphoto]', '대표 이미지' %>
          <%= file_field_tag 'event[bigphoto]' %>
        </div>
        
        <div class="group">
          <%= label_tag 'event[start_date]', '전시 시작일' %>
          <%= date_select 'event', 'start_date' %>
        </div>
        
        <div class="group">
          <%= label_tag 'event[end_date]', '전시 종료일' %>
          <%= date_select 'event', 'end_date' %>
        </div>
        
        
        <div class="group">
          <%= label_tag 'event[description]', '내용' %>
          <%= text_area_tag 'event[description]', '', :class => 'text_area', :id => 'eventNewTextArea' %>
        </div>
        <div class="group navform wat-cf">
          <button type="submit" class="button">
            <img alt="Save" src="/images/web-app-theme/icons/tick.png"> 저장
          </button>
          <a class="button" href="#header">
            <img alt="Cancel" src="/images/web-app-theme/icons/cross.png"> 취소
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'admin/events/new' %>