
<%= render 'admin/educations/tabs' %>
<h2 class="title">
  교육프로그램 목록
</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="first">#</th>
      <th></th>
      <th>
        진행일
      </th>
      <th>교육프로그램 제목</th>
      <th>메인</th>
      <th>현재</th>
      <th>예정</th>
      <th></th>
    </tr>

  </thead>  
  <tbody>

  <% @exhibitions.each_with_index do |exhibition, index| %>
    <tr>
      <td><%= exhibition.id %></td>
      <td></td>
      <td>
        <%= exhibition.start_date_rescued.strftime("%Y/%m/%d") %>-
        <br/>
        <%= exhibition.end_date_rescued.strftime("%Y/%m/%d") %>
      </td>
      <td><%= link_to exhibition.title, exhibition_path(exhibition) %></td>
      <td>
        <% if exhibition.is_main? %>
          현재 메인<br/>
          <%= link_to '취소', cancel_main_admin_currents_path(:exhibition_id => exhibition.id), :method => :delete, :confirm => '메인 지정을 취소하시겠습니까?' %> 
        <% else %>
          <%= link_to '메인 지정', admin_currents_path(:exhibition_id => exhibition.id), :method => :post, :confirm => '메인으로 지정하시겠습니까?' %>
        <% end %>
      </td>
      <td>
        <% if !exhibition.current %>
          <%= link_to '현재 지정', set_current_admin_education_path(exhibition), :method => :put, :confirm => '현재 교육프로그램로 지정하시겠습니까?' %>
       <% else %> 
          현재 교육<br/>
          <%= link_to '취소', set_current_admin_education_path(exhibition), :method => :put, :confirm => '현재 교육프로그램 지정을 취소하시겠습니까?' %>
       <% end %>      
      </td>
      <td>
        <% if !exhibition.upcoming %>
          <%= link_to '예정 지정', set_upcoming_admin_education_path(exhibition), :method => :put, :confirm => '예정 교육프로그램으로 지정하시겠습니까?' %>
        <% else %>
          예정 교육<br/>
          <%= link_to '쥐소', set_upcoming_admin_education_path(exhibition), :method => :put, :confirm => '예정 교육프로그램 지정을 취소하시겠습니까?' %>
         <% end %>
      </td>  
         
      <td>         
      <%= link_to '수정', edit_admin_education_path(exhibition) %> | <%= link_to '삭제', admin_education_path(exhibition), :method => :delete, :confirm => '정말 교육프로그램를 삭제하시겠습니까?' %></td>
    </tr>
  <% end %>
</tbody></table>
        
        <%= will_paginate @exhibitions %>