<div id="list" class="block">
  <%= render 'admin/news/tabs' %>
  <div class="content">
    <h2 class="title">
     뉴스 목록
    </h2>
    <div class="inner">
    
        <table class="table">
          <tbody><tr>
            <th class="first"><input type="checkbox" class="checkbox toggle"></th>
            <th>ID</th>
            <th>뉴스 제목</th>
            <th class="last">&nbsp;</th>
          </tr>
          <% @news_chucks.each_with_index do |news, index| %>
            <tr class="<% if index % 2 == 1 %>odd<% else %>even<% end %>">
              <td><%= check_box_tag 'id', news.id %></td>
              <td><%= news.id %></td>
              <td><%= news.title %></td>
              <td><%= link_to '미리보기', admin_news_path(news) %> | 
             
              <%= link_to '수정', edit_admin_news_path(news) %> | <%= link_to '삭제', admin_news_path(news), :method => :delete, :confirm => '정말 뉴스를 삭제하시겠습니까?' %></td>
            </tr>
          <% end %>
        </tbody></table>
    </div>
  </div>
</div>