<div id="list" class="block">
  <%= render 'admin/news/tabs' %>
  <div class="content">
    <h2 class="title">
      새 뉴스 생성
    </h2>
    <div class="inner">
      <%= form_tag admin_news_index_path, :multipart => true, :class => 'form' do %>
        <div class="group">
          <%= label_tag 'news[title]', '제목' %>
          <%= text_field_tag 'news[title]',  '', :class => 'input-xlarge' %>
        </div>        
        <div class="group">
          <%= label_tag 'news[description]', '내용' %>
          <%= text_area_tag 'news[description]', '', :class => 'text_area', :id => 'newsNewTextArea' %>
        </div>
        <div class="group">
          <%= label_tag 'news[attachment]', 'PDF / Press Release 첨부' %>
          <%= file_field_tag 'news[attachment]' %>
        </div>
          <div class="form-actions">
        <%= button_tag '저장', :class => 'btn btn-primary' %>
        <%= link_to '취소', admin_exhibitions_path %>
      </div>
      
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'admin/news/new' %>