<div class="titleSection">
  <%= image_tag @exhibition.currentPhoto(:thumb) %>
  <div class="title">
    <h2 class="HV"><%= @exhibition.title %></h2>
    <div class="date">
      <%= @exhibition.start_date_rescued.strftime("%Y.%m.%d")%>-<%= @exhibition.end_date_rescued.strftime("%Y.%m.%d")%>
    </div>
  </div>
  <div class="CB"></div>
</div>
<div class="CB"></div>
<div class="descriptionSection">
  <div class="photoSection">
      <% @exhibition.pictures.each_with_index do |picture, index| %>
        <% if index == 0 %>
          <div class="photo current">
        <% else %>
          <div class="photo">
        <% end %>
          <%= image_tag picture.photo(:original) %>
        </div>
      <% end %>
      <div class="selector">
    		<ul class="navigator">
    			<%@exhibition.pictures.each_with_index do |pictures, index| %>
    			  <li><a data-id="<%= index %>" href="#" class="selector pngFix 
    			  <% if index == 0 %>
    			    on
    			  <% else %>
    			    off
    			  <% end %>
    			  " alt="unit01"></a></li>
    			<% end %>
    		</ul>
    		<div class="CB"></div>
  		</div>
	  <div class="CB"></div>
  </div>
  
  <div class="CB"></div>
  
  <div class="description">
    <div class="pressRelease">
      <div style="margin-bottom:10px">
        <%= link_to 'Back', exhibitions_path, :class => 'backBtn' %>
      </div>
      <div class="CB"></div>
      <% @exhibition.pdfs.each do |pdf| %>
        <div stype="margin-top:15px">
        <div style="margin-bottom:5px">
          <%= link_to 'Press Release', pdf.attachment.url, :class => 'downloadBtn' %>
        </div>
        <div>
          <%= pdf.attachment_file_name %>
        </div>
        <div class="CB"></div>
        </div>
      <% end %>
    </div>
    
    <div class="desc">
      <%= raw(@exhibition.description) %>
    </div>
    <div class="CB"></div>
  </div>
  

  <div class="CB"></div>
</div>
<%= javascript_include_tag 'selector' %>