<div class="titleSection">
  <%= image_tag @exhibition.currentPhoto(:thumb) %>
  <div class="title">
    <h2 class="HV"><%= @exhibition.title %></h2>
    <div class="date">
      <%= @exhibition.start_date.strftime("%Y.%m.%d")%>-<%= @exhibition.end_date.strftime("%Y.%m.%d")%>
    </div>
  </div>
  <div class="CB"></div>
</div>
<div class="CB"></div>
<div class="descriptionSection">
  <div class="photoSection">
      <% @exhibition.pictures.each do |picture| %>
        <div class="photo">
          <%= image_tag picture.photo(:original) %>
        </div>
      <% end %>
    <div class="selector">
    </div>
	  <div class="CB"></div>
  </div>
  <div class="description">
    <div class="pressRelease">
      <%= link_to 'Back', exhibitions_path, :class => 'backBtn' %>
      <%= link_to 'Press Release', '', :class => 'downloadBtn' %>
    </div>
    
    <div class="desc">
      <%= raw(@exhibition.description) %>
    </div>
    <div class="CB"></div>
  </div>
  

  <div class="CB"></div>
</div>