<div class="titleSection">
  <%= image_tag @exhibition.currentPhoto(:thumb) %>
  <div class="title">
    <h2 class="HV"><%= @exhibition.title %></h2>
    <div class="date">
      <%= @exhibition.start_date.strftime("%Y.%m.%d")%>-<%= @exhibition.end_date.strftime("%Y.%m.%d")%>
    </div>
  </div>
  
<div class="CB"></div>
</div>
<div class="CB"></div>
<div class="descriptionSection">
  <div class="description">
    
    <%= link_to 'Back', exhibitions_path, :class => 'backBtn' %>
    <%= link_to 'Download PDF', '', :class => 'downloadBtn' %>
    
    <div style="margin:10px 10px 0 0 ">
      <%= raw(@exhibition.description) %>
    </div>
	<div class="CB"></div>
  </div>

  <div class="photo">
    <%= image_tag @exhibition.currentPhoto(:original) %>
  </div>
  <div class="CB"></div>
</div>