<div class="titleSection">
  <%= image_tag @exhibition.bigphoto.url(:thumb) %>
  <div class="title">
    <h2 class="HV"><%= @exhibition.title %></h2>
    <div class="date">
      <%= @exhibition.start_date.strftime("%Y.%m.%d")%>-<%= @exhibition.end_date.strftime("%Y.%m.%d")%>
    </div>
  </div>
</div>
<div class="CB"></div>
<div class="descriptionSection">
  <div class="description">
    <div style="margin-right:10px">
      <%= raw(@exhibition.description) %>
    </div>
    <%= link_to 'Back', exhibitions_path, :class => 'backBtn' %>
    <%= link_to 'Download PDF', '', :class => 'downloadBtn' %>
	<div class="CB"></div>
  </div>

  <div class="photo">
    <%= image_tag @exhibition.bigphoto.url(:original) %>
  </div>
</div>