
<div id="list" class="block">
  <%= render 'admin/informations/tabs' %>
  <div class="content">
    <h2 class="title">
      토탈미술관 정보 수정
    </h2>
    <div class="inner">
      <%= form_tag admin_information_path(@information), :multipart => true, :class => 'form' do %>
        <%= hidden_field_tag '_method', 'put'%>

        
        <div class="group">
          <%= label_tag 'information[description]', '내용' %>
          <%= text_area_tag 'information[description]', @information.description, :class => 'text_area', :id => 'informationNewTextArea' %>
        </div>
        <div class="group navform wat-cf">
          <button type="submit" class="button">
            <img alt="Save" src="/images/web-app-theme/icons/tick.png"> 저장
          </button>
          <a class="button" href="<%= admin_exhibitions_path %>">
            <img alt="Cancel" src="/images/web-app-theme/icons/cross.png"> 취소
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'admin/informations/edit' %>