<div id="cNews" class="cNews">
  <div class="left">
    <h2 class="HV">current news</h2>
  </div>
  
  <div class="right">
    <% if @latest_news != nil %>
      <h3 class="HV"><%= @latest_news.title %></h3>
      <div class="date">
        <p><%= @latest_news.created_at.strftime("%Y/%m/%d %H:%M") %></p>
      </div>
      <div class="description">
        <%= simple_format(@latest_news.description) %>
      </div>
      
      <% if @news.attachment not nil %>
        <div class="attachment">
          <%= link_to image_tag('pdf_icon.png'), @news.attachment.url %>
        </div>
      <% end %>
      <div class="CB"></div>
    <% else %>
      최근 뉴스가 없습니다.
    <% end %>
  </div>
  <div class="CB"></div>
</div>
<div id="news_chunks" class="newsChunk">
  <div class="left">
    <h2 class="HV">news</h2>
  </div>
  
  <div class="right">
    
    <% @news_chunks.each do |news| %>
      <div class="pastNews">
        <%= link_to news.title, news_path(news), :rel => news.id, :class => "HV" %>
      </div>
    <% end %>
  </div>
  <div class="CB"></div>
</div>

