<div id="cNews" class="cNews">
  <div class="left">
    <h2 class="HV">news</h2>
  </div>
  
  <div class="right">
      <h3><%= @news.title %></h3>
      <div class="date">
        <p><%= @news.created_at.strftime("%Y년 %m월 %d일 / %H시 %M분") %></p>
      </div>

      <% @news.pictures.each do |picture| %>
        <div>
          <%= image_tag picture.photo.url(:original) %>
        </div>
      <% end %>

      <div class="description">
        <%= simple_format(@news.description) %>
      </div>

      <% @news.pdfs.each do |pdf| %>
        <%= link_to pdf.attachment_file_name, pdf.attachment.url, :class => 'downloadBtn' %>
      <% end %>
      <div class="CB"></div>
  </div>
  <div class="CB"></div>
</div>
<div id="news_chunks" class="newsChunk">
  <div class="left">
    <h2 class="HV">past news</h2>
  </div>
  
  <div class="right">
    
    <% @news_chunks.each do |news| %>
      <div class="pastNews HV">
        <%= link_to news.title, news_path(news), :rel => news.id %>
      </div>
    <% end %>
  </div>
  <div class="CB"></div>
</div>

