<script>
  <% if @exhibition.x1medium != nil && @exhibition.x1medium != '' %>
    var mediumPos = { 
      x1: <%= @exhibition.x1medium %>,
      y1: <%= @exhibition.y1medium %>,
      x2: <%= @exhibition.x1medium.to_i + @exhibition.widthmedium.to_i %>,
      y2: <%= @exhibition.y1medium.to_i + @exhibition.heightmedium.to_i %>
    };
  <% else %>  
    var mediumPos = { 
      x1: 0,
      y1: 0,
      x2: 320,
      y2: 540
    };
  <% end %>
  <% if @exhibition.x1thumb != nil && @exhibition.x1thumb != '' %>
    var thumbPos = { 
      x1: <%= @exhibition.x1thumb %>,
      y1: <%= @exhibition.y1thumb %>,
      x2: <%= @exhibition.x1thumb.to_i + @exhibition.widththumb.to_i %>,
      y2: <%= @exhibition.y1thumb.to_i + @exhibition.heightthumb.to_i %>
    };
  <% else %>  
    var thumbPos = { 
      x1: 0,
      y1: 0,
      x2: 100,
      y2: 100
    };
  <% end %>
</script>
<div id="list" class="block">
  <%= render 'admin/exhibitions/tabs' %>
  <div class="content">
    <h2 class="title">
      새 전시 생성
    </h2>
    <div class="inner">
      <%= form_tag admin_exhibition_path(@exhibition), :multipart => true, :class => 'form' do %>
        
        <%= hidden_field_tag '_method', 'put' %>
          <%= hidden_field_tag 'exhibition[x1medium]', nil %>
          <%= hidden_field_tag 'exhibition[y1medium]', nil %>
          <%= hidden_field_tag 'exhibition[widthmedium]', nil %>
          <%= hidden_field_tag 'exhibition[heightmedium]', nil %>
          <%= hidden_field_tag 'exhibition[x1thumb]', nil %>
          <%= hidden_field_tag 'exhibition[y1thumb]', nil %>
          <%= hidden_field_tag 'exhibition[widththumb]', nil %>
          <%= hidden_field_tag 'exhibition[heightthumb]', nil %>
          
          <%= hidden_field_tag 'crop_medium_x', nil %>
          <%= hidden_field_tag 'crop_medium_y', nil %>
          <%= hidden_field_tag 'crop_medium_width', nil %>
          <%= hidden_field_tag 'crop_medium_height', nil %>
          
          <%= hidden_field_tag 'crop_thumb_x', nil %>
          <%= hidden_field_tag 'crop_thumb_y', nil %>
          <%= hidden_field_tag 'crop_thumb_width', nil %>
          <%= hidden_field_tag 'crop_thumb_height', nil %>
          
        <div class="group">
          <%= label_tag 'exhibition[title]', '제목' %>
          <%= text_field_tag 'exhibition[title]', @exhibition.title, :class => 'text_field' %>
        </div>
        
        <div id="uploader">
        </div>
        
        
        <div class="group">
          <%= label_tag 'exhibition[start_date]', '전시 시작일' %>
          <%= date_select 'exhibition', 'start_date', :default => @exhibition.start_date %>
        </div>
        
        <div class="group">
          <%= label_tag 'exhibition[end_date]', '전시 종료일' %>
          <%= date_select 'exhibition', 'end_date', :default => @exhibition.end_date %>
        </div>
        
        <div class="group">
          <%= label_tag 'exhibition[description]', '내용' %>
          <%= text_area_tag 'exhibition[description]', @exhibition.description, :class => 'text_area', :id => 'exhibitionNewTextArea' %>
        </div>
        
        
       <!--         <div class="group">
                 <div class="image_preview" id="mediumPreview">
                   <h4>메인 이미지 크롭(320x500)</h4>      
                   <div class="original">
                     <%= image_tag @exhibition.bigphoto.url, :class => 'targetPhoto', :id => 'bigPhotoMedium' %>
                   </div>
                   <div class="preview">
                     <div style="float: left; position: relative; overflow: hidden; width: 320px; height:540px" >
                       
                       <%= image_tag @exhibition.bigphoto.url, :style => 'position:absolute' %>
                     </div>
                   </div>
                   <div class="CB"></div>
                 </div>
                 <div class="image_preview"  id="thumbPreview">
                   <h4>썸네일 이미지 크롭(100x100)</h4>
                   <div class="original">
                     <%= image_tag @exhibition.bigphoto.url, :class => 'targetPhoto', :id => 'bigPhotoThumb' %>
                   </div>
                   <div class="preview">
                     <div style="float: left; position: relative; overflow: hidden; width: 100px; height: 100px;">
                       <%= image_tag @exhibition.bigphoto.url, :style => 'position:absolute' %>
                     </div>
                   </div>
                   <div class="CB"></diva>
               </div> -->
        
        <div class="group navform wat-cf">
          <button type="submit" class="button">
            <img alt="Save" src="/images/web-app-theme/icons/tick.png"> 저장
          </button>
          <a class="button" href="<%= admin_exhibitions_path %>">
            <img alt="Cancel" src="/images/web-app-theme/icons/cross.png"> 취소
          </a>
        </div>
        
        
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'admin/exhibitions/new' %>
<%= javascript_include_tag 'admin/exhibitions/edit' %>