<script>
  var exhibition_id = <%= @exhibition.id %>;
</script>
<div id="list" class="block">
  <%= render 'admin/exhibitions/tabs' %>
  <div class="content">
    <h2 class="title">
      새 전시 생성
    </h2>
    <div class="inner">
      <%= form_tag admin_exhibition_path(@exhibition), :multipart => true, :class => 'form' do %>
        
        <%= hidden_field_tag '_method', 'put' %>
          
        <div class="group">
          <%= label_tag 'exhibition[title]', '제목' %>
          <%= text_field_tag 'exhibition[title]', @exhibition.title, :class => 'text_field' %>
        </div>
      
        
        <div class="group">
          <%= label_tag 'exhibition[start_date]', '전시 시작일' %>
          <%= date_select 'exhibition', 'start_date', :default => @exhibition.start_date %>
        </div>
        
        <div class="group">
          <%= label_tag 'exhibition[end_date]', '전시 종료일' %>
          <%= date_select 'exhibition', 'end_date', :default => @exhibition.end_date %>
        </div>
        
        <div class="group">
          <%= label_tag 'exhibition[description]', '내용' %>
          <%= text_area_tag 'exhibition[description]', @exhibition.description, :class => 'text_area', :id => 'exhibitionNewTextArea' %>
        </div>
                
        <div>
          이미지 업로드
        </div>        
    <div id="uploader_image" class="uploader">
			<div class="docuUploaderTable">
				<table>
				  <thead>
  					<tr>
  						<th class="select"><%= check_box_tag 'descUploaderChkToggle', '1' %></th>
  						<th class="title">filename</th>
  						<th class="status">
  						 status
  						</th>
  						<th class="size">size</th>
  						<th class="statusIcon"></th>
  					</tr>
  				</thead>
  				
					<tbody>

						  <% @exhibition.pictures.each do |picture| %>
							  <tr>
							    <td class="select"><%= check_box_tag 'picture_ids[]', 'picture-' + picture.id.to_s, false, :rel => picture.photo.url %>

							    <td class="title"><%= picture.photo_file_name%></td>
							    <td class="status">
					          <%= image_tag 'validate_ok.gif' %>
							    </td>
							    <td class="size"><%= (picture.photo_file_size / 1000).floor %> KB</td>
							    <td class="statusIcon"></td>
							  </tr>
							<% end %>
					</tbody>
				</table>
		  </div>
			<div class="control" id ="docuImgUploadContainer">
		    <%= link_to 'select file', '#', :class => 'upBtn pngFix', :id => 'docuImgSelectBtn' %>
		    <%= link_to 'delete', '#', :class => 'upBtn pngFix', :id => 'docuImgDeleteBtn' %>
			</div>

      
      <div>
      PDF 업로드
      </div>
      <div id="uploader_pdf" class="uploader">
				<div class="docuPdfUploaderTable">
					<table>
					  <thead>
  						<tr>
  							<th class="select"><%= check_box_tag 'descUploaderPDFChkToggle', '1' %></th>
  							<th class="title">filename</th>
  							<th class="status">
  							 status
  							</th>
  							<th class="size">size</th>
  							<th class="statusIcon"></th>
  						</tr>
  					</thead>
  					
						<tbody>

  						  <% @exhibition.pdfs.each do |pdf| %>
  							  <tr>
  							    <td class="select"><%= check_box_tag 'pdf_ids[]', 'pdf-' + picture.id.to_s, false, :rel => pdf.attachment.url %>

  							    <td class="title"><%= pdf.attachment_file_name%></td>
  							    <td class="status">
  					          <%= image_tag 'validate_ok.gif' %>
  							    </td>
  							    <td class="size"><%= (pdf.attachment_file_size / 1000).floor %> KB</td>
  							    <td class="statusIcon"></td>
  							  </tr>
  							<% end %>
						</tbody>
					</table>
			  </div>
				<div class="control" id ="docuPdfUploadContainer">
			    <%= link_to 'select file', '#', :class => 'upBtn pngFix', :id => 'docuPdfSelectBtn' %>
			    <%= link_to 'delete', '#', :class => 'upBtn pngFix', :id => 'docuPdfDeleteBtn' %>
				</div>



        <div class="group navform wat-cf">
          <button type="submit" class="button">
            <img alt="Save" src="/images/web-app-theme/icons/tick.png"> 저장
          </button>
          <a class="button" href="<%= admin_exhibitions_path %>">
            <img alt="Cancel" src="/images/web-app-theme/icons/cross.png"> 취소
          </a>
        </div>
        
        
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'admin/exhibitions/new' %>
<%= javascript_include_tag 'admin/exhibitions/edit' %>