<div class="content">
  <div class="indicator">
    <%= image_tag asset_path('indicator.gif') %>
  </div>
  
  <% @currents.each do |current| %>
    <% if current.exhibition.present? and current.exhibition.currentPhoto.present? %>
    <div class="welcome">    
      <div class="imageWrap">
        <%= image_tag current.exhibition.currentPhoto(:medium) %>
      </div>
      <div class="welcomeback"></div>
      <div class="info">
        <% if current.exhibition.category_id == 1 %>
          <span class="HV category">exhibition</span>
        <% elsif current.exhibition.category_id == 2 %>
          <span class="HV category">education</span>
        <% elsif current.exhibition.category_id == 3 %>
          <span class="HV category">event</span>
        <% elsif current.exhibition.category_id == 4 %>
          <span class="HV category">news</span>
        <% end %>  
        <h2 class="HV">
          <%= current.exhibition.title %>
        </h2>
        <% unless current.exhibition.category_id == 4 %>
        <span class="date">
          <%= current.exhibition.start_date_rescued.strftime("%Y.%m.%d")%>-<%= current.exhibition.end_date_rescued.strftime("%Y.%m.%d")%>
        </span>
        <% else %>
         <span class="date">
          <%= current.exhibition.created_at.strftime("%Y.%m.%d")%>
        </span>        
        <% end %>

        <div class="detailBtn">
          <% if current.exhibition.category_id == 1 %>
            <%= link_to '더 보기', exhibition_path(current.exhibition)%>
          <% elsif current.exhibition.category_id == 2 %>
            <%= link_to '더 보기', education_path(current.exhibition)%>
          <% elsif current.exhibition.category_id == 3 %>
            <%= link_to '더 보기', event_path(current.exhibition)%>
          <% elsif current.exhibition.category_id == 4 %>
            <%= link_to '더 보기', news_path(current.exhibition)%>
          <% end %>  

        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  
  <div class="CB"></div>
</div>
<%= javascript_include_tag 'welcomes/index' %>