<div class="content">
  <div class="indicator">
    <%= image_tag 'indicator.gif' %>
  </div>
  
  <% if @current_exhibition != nil %>
    <div class="welcome">    
      <%= image_tag @current_exhibition.currentPhoto %>
      <div class="welcomeback"></div>
      <div class="info">
        <span class="HV category">exhibition</span>
        <h2 class="HV">
          <%= @current_exhibition.title %>
        </h2>
        <span class="date">
          <%= @current_exhibition.start_date.strftime("%Y.%m.%d")%>-<%= @current_exhibition.end_date.strftime("%Y.%m.%d")%>
        </span>
        <div class="detailBtn">
          <%= link_to '더 보기', exhibition_path(@current_exhibition)%>
        </div>
      </div>
    </div>
  <% end %>
  
  <% if @current_education != nil %>
    <div class="welcome">    
      <%= image_tag @current_education.currentPhoto %>
      <div class="welcomeback"></div>
      <div class="info">
        <span class="HV category">education</span>
        <h2 class="HV">
          <%= @current_education.title %>
        </h2>
        <span class="date">
          <%= @current_education.start_date.strftime("%Y.%m.%d")%>-<%= @current_education.end_date.strftime("%Y.%m.%d")%>
        </span>
        <div class="detailBtn">
          <%= link_to '더 보기', education_path(@current_education)%>
        </div>
      </div>
    </div>
  <% end %>
  
  <% if @current_event != nil %>
    <div class="welcome">    
      <%= image_tag @current_event.currentPhoto %>
      <div class="welcomeback"></div>
      <div class="info">
        <span class="HV category">event</span>
        <h2 class="HV">
          <%= @current_event.title %>
        </h2>
        <span class="date">
          <%= @current_event.start_date.strftime("%Y.%m.%d")%>-<%= @current_event.end_date.strftime("%Y.%m.%d")%>
        </span>    
        <div class="detailBtn">
          <%= link_to '더 보기', event_path(@current_event)%>
        </div>
      </div>
    </div>
  <% end %>
  <div class="CB"></div>
</div>
<%= javascript_include_tag 'welcomes/index' %>