<div class="content">
  <div class="indicator">
    <%= image_tag asset_path('indicator.gif') %>
  </div>
  
  <% @currents.each do |current| %>
    <div class="welcome">    
      <div class="imageWrap">
        <%= image_tag current.exhibition.currentPhoto(:medium) %>
      </div>
      <div class="welcomeback"></div>
      <div class="info">
        <% if current.exhibition.category_id == 1 %>
          <span class="HV category">exhibition</span>
        <% elsif current.exhibition.category_id == 2 %>
          <span class="HV category">education</span>
        <% else %>
          <span class="HV category">event</span>
        <% end %>  
        <h2 class="HV">
          <%= current.exhibition.title %>
        </h2>
        <span class="date">
          <%= current.exhibition.start_date_rescued.strftime("%Y.%m.%d")%>-<%= current.exhibition.end_date_rescued.strftime("%Y.%m.%d")%>
        </span>
        <div class="detailBtn">
          <%= link_to '더 보기', exhibition_path(current.exhibition)%>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="CB"></div>
</div>
<%= javascript_include_tag 'welcomes/index' %>