
<div id="cEducation" class="educations contentList">
  <div class="left">
    <h2 class="HV">current education</h2>
  </div>
  
  <div class="right">
    <% if @current != nil %>
      <%= image_tag @current.currentPhoto(:thumb) %>
      <h3 class="HV"><%= @current.title %></h3>
      <div class="date">
        <%= @current.start_date_rescued.strftime("%Y.%m.%d")%>-<%= @current.end_date_rescued.strftime("%Y.%m.%d")%>
      </div>
      <div class="detailBtn">
        <%= link_to '자세히보기', education_path(@current) %>
      </div>
    <% else %>
       <span class="noEducation">현재 교육프로그램이 없습니다.</span>
    <% end %>
  </div>
  <div class="CB"></div>
</div>

<div id="uEducation" class="educations contentList">
  <div class="left">
    <h2 class="HV">upcoming education</h2>
  </div>
  
  <div class="right">
    <% if @upcoming != nil %>
      <%= image_tag @upcoming.currentPhoto(:thumb) %>
      <h3 class="HV"><%= @upcoming.title %></h3>
      <div class="date">
        <%= @upcoming.start_date_rescued.strftime("%Y.%m.%d")%>-<%= @upcoming.end_date_rescued.strftime("%Y.%m.%d")%>
      </div>
      <div class="detailBtn">
        <%= link_to '자세히보기', education_path(@upcoming) %>
      </div>
    <% else %>
     <span class="noEducation">예정 교육프로그램이 없습니다.</span>
    <% end %>
  </div>
  <div class="CB"></div>
</div>
<div id="peducation" class="educations contentList">
  <div class="left">
    <h2 class="HV">past educations</h2>
  </div>
  
  <div class="pastRight">  
    <% for year in @years do %>
      <div class="yearBook" <% if year == 2011 %>style="border:none"<% end %>>
        <div class="yearLeft">
          <h3 class="HV"><%= year.to_s %></h3>
        </div>
        <div class="yearRight">
          <% if @exhibitions[year.to_s] != nil %>
            <div>
              <% @exhibitions[year.to_s].each do |exhibition| %>
                <div style="margin-bottom:8px">
                  <%= link_to exhibition.title, education_path(exhibition), :class => 'HV' %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="CB"></div>
      </div>
    <% end %>
  </div>
  <div class="CB"></div>
</div>

<%= javascript_include_tag 'exhibitions/index' %>