<div class="titleSection">
  <%= image_tag @education.bigphoto.url(:thumb) %>
  <div class="title">
    <h2 class="HV"><%= @education.title %></h2>
    <div class="date">
      <%= @education.start_date.strftime("%Y.%m.%d")%>-<%= @education.end_date.strftime("%Y.%m.%d")%>
    </div>
  </div>
</div>
<div class="CB"></div>
<div class="descriptionSection">
  <div class="description">
    <div style="margin-right:10px">
      <%= raw(@education.description) %>
    </div>
    <%= link_to 'Back', educations_path, :class => 'backBtn' %>
    <%= link_to 'Download PDF', '#', :class => 'downloadBtn' %>
	<div class="CB"></div>
  </div>

  <div class="photo">
    <%= image_tag @education.bigphoto.url(:original) %>
  </div>
</div>