<div id="bodyWrap">

	<div id="header">
		<h1 id="logoWrap">
		  <%= link_to 'Total Museum of Contemporary Art', root_path %>
		</h1>

		<header>
		<nav>
			<ul id="mainNav">
				<% if params[:controller] == 'news' %>
				  <li class="active">
				<% else %>
				  <li>
				<% end %>
        <%= link_to 'news', news_index_path, :class => 'HV' %></li>
				
				<% if params[:controller] == 'exhibitions' %>
				  <li class="active">
				<% else %>
				  <li>
				<% end %>
				<%= link_to 'exhibitions', exhibitions_path, :class => 'HV' %></li>
				
				<% if params[:controller] == 'educations' %>
				  <li class="active">
				<% else %>
				  <li>
				<% end %>
				<%= link_to 'educations', educations_path, :class => 'HV' %></li>
				
				<% if params[:controller] == 'events' %>
				  <li class="active">
				<% else %>
				  <li>
				<% end %>
				<%= link_to 'events', events_path, :class => 'HV' %></li>
				
				<% if params[:controller] == 'informations' %>
				  <li class="active last">
				<% else %>
				  <li class="last">
				<% end %>
				<%= link_to 'information', information_path, :class => 'HV' %></li>
			</ul>  
			<div id="extraWrap" style="display:none">
				<ul id="extraNav">
					<li><%= link_to 'blog', 'http://blog.naver.com/totalmuseum', :target => '_blank' %></li>
					<li><span>/</span><%= link_to 'total academy', '#' %></li>
					<li><span>/</span><%= link_to 'korean', '#' %></li>
				</ul>
				<ul id="snsBtn">
					<li><%= link_to 'twitter', 'http://twitter.com/totalmuseum', :target => '_blank' , :class => 'twitter' %></li>
					<li><%= link_to 'facebook' , 'http://facebook.com/totalmuseum', :target => '_blank', :class => 'facebook' %></li>
				</ul>
			</div>
		</nav>
		</header>
		<div class="CB"></div>
	</div>

	<div id="contentWrap">