<div id="bodyWrap">
  
	<h1 id="logoWrap">
	  <%= link_to 'Total Museum of Contemporary Art', root_path %>
	</h1>
	<div id="header">

			<ul id="mainNav">
				<% if params[:controller] == 'news' %>
				  <li class="active">
				<% else %>
				  <li>
				<% end %>
        <%= link_to 'news', news_index_path, :class => 'HV' %></li>
				
				<% if params[:controller] == 'exhibitions' %>
				  <li class="active">
				<% else %>
				  <li>
				<% end %>
				<%= link_to 'exhibitions', exhibitions_path, :class => 'HV' %></li>
				
				<% if params[:controller] == 'educations' %>
				  <li class="active">
				<% else %>
				  <li>
				<% end %>
				<%= link_to 'educations', educations_path, :class => 'HV' %></li>
				
				<% if params[:controller] == 'events' %>
				  <li class="active">
				<% else %>
				  <li>
				<% end %>
				<%= link_to 'events', events_path, :class => 'HV' %></li>
				
				<% if params[:controller] == 'informations' %>
				  <li class="active">
				<% else %>
				  <li>
				<% end %>
				<%= link_to 'information', information_path, :class => 'HV' %></li>
				
				<% if params[:controller] == 'search' %>
				  <li class="active last">
				<% else %>
				  <li class="last">
				<% end %>
				<%= link_to 'search', '#', :class => 'HV', :id => 'searchBtn' %></li>
				
			</ul>  
		<div class="CB"></div>
	</div>
  
  <div id="searchWrap">
    <%= text_field_tag 'query', '', :placeholder => 'Search', :class => 'searchTextField' %>
    <%= link_to 'search', '#', :class => 'searchBtn' %>
    <div class="resultWrap">
    
      <div class="searchResult">
        
      </div>
    </div>
    
  </div>  
  <script id="resultSizeTemplate" type="text/x-jquery-tmpl">
    
    {{if size > 0}}
      <div class="resultTitle"><span class="HV"><span class="size">${size}</span> results</span></div>
    {{else}}
      <div class="resultTitle"><span class="HV">no results</span></div>
    {{/if}}
    
  </script>
  
  
  <script id="searchResultTemplate" type="text/x-jquery-tmpl"> 
    <div class="result">
      <img src="${thumbImg}" alt="thumb" />
      <div class="title">
        ${title}
      </div>
      <div class="category">
        ${category}
      </div>
      <div class="description">
        ${description}
      </div>
      {{if has_attachment}}
        <div class="attachment">
          <A href="${attachment_link}" class="downloadBtn">Download PDF</a>
        </div>
      {{/if}}
      <div class="CB"></div>
    </div>
  </script>
  
  <%= javascript_include_tag 'search' %>
	<div id="contentWrap">