<!DOCTYPE html>
<html>
<head>
  <title>관리자 페이지 :: Total Museum of Contemporary Art</title>
	<%= stylesheet_link_tag 'admin' %>
  
  <%= csrf_meta_tag %>
</head>
<body>

  <%= javascript_include_tag 'admin' %>
  <%= render 'layouts/admin/header' %>
  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-success">
        <%= link_to 'x', '#', :class => 'close', :data => {:dismiss => 'alert'} %>
        <h4 class="alert-heading">성공!</h4>
        <%= notice %>
      </div>
    <% end %>
    
    <% if alert.present? %>
      <div class="alert alert-error">
        <%= link_to 'x', '#', :class => 'close', :data => {:dismiss => 'alert'} %>
        <h4 class="alert-heading">성공!</h4>
        <%= notice %>
      </div>  
    <% end %> 
  </div>
  
  
  <div class="container">
    <%= yield %>
    
    <%= render 'layouts/admin/footer' %>

  </div>
  
  

  </body>
</html>
