<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>Total Museum of Contemporary Art :: 토탈미술관</title>
  <meta charset="utf-8" />
  <meta name="description" content="토탈미술관 홈페이지입니다." />
  <meta name="keyword" content="토탈미술관" /> 
  	
  <meta name="author" content="Total Museum of Contemporary Art" />

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
  
	<%= stylesheet_link_tag 'application', :media => "screen" %>

	
	
</head>
<body>

  <%= javascript_include_tag 'application' %>


  <% if flash[:notice] %>
    
  <% end %>
  
  
  <% if flash[:alert] %>
  <% end %>
  
  <%= render 'layouts/header' %>

  <%= yield %>

  <%= render 'layouts/footer' %>
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28585376-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
